@import url('https://fonts.googleapis.com/css2?family=Homenaje&family=Montserrat:wght@400;500;600;700;800&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homenaje&family=Montserrat:wght@400;500;600;700;800&family=Pacifico&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,700&display=swap');
*{
    padding: 0%;
    margin: 0%;
}
body{
    /* font-family: 'Homenaje', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    width: 100%;
    height: 100%;
}
.navbar, footer{
    background-color: #242c3c;
}
.navbar-brand, .logof{
    font-family: 'Pacifico', cursive;
} 
.about{
    width: 100%;
    height: 650px;
    padding-top: 6rem !important;
    background-color: #242c3c;
}
.textbleu, a.mdp{
    color: #242c3c !important;
}
.titre-form{
    color: #143371 !important; 
}
.sect1{
    width: 100%;
    height: 100%;
}
.logo{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.card img{
    width: 100%;
    height: 450px;
    object-fit: cover;
}
.about img{
    width: 100%;
    height: 50%;
}
.titre{
    background-color:rgba(244, 228, 196, 0.4);
    font-family: 'Montserrat', sans-serif;
}
.cont-but{
    width: 120px;
    height: 40px;
    background-color: #242c3c;
}
.temoig .card{
    border-left: 3px solid #143371 !important;
}
.temoig .card-text{
    font-size: 11px;
}
 input{
    border: 1px solid #193f89 !important; 
}
 input:hover{
    border: 1px solid rgb(237, 189, 100);
}
.connexion,.inscription{
    background: url('img/wave.jpg') no-repeat;
    background-size: cover;
    padding: 7rem 0;
}
.partie,.info{
    width: 35%;
}

.info1{
    width: 25%;
}
.partie1{
    width: 25%;
}
textarea.form-control{
    height: 120px;
}
.partie .fa-solid{
    font-size: 30px;
    color: #193f89 ;
}
.connexion .form-control,.inscription .form-control{
    background-color: #eaedf1;
}
.taille {
    width: 50px;
    height: 30px;
}
.echant img{
    width:30px ;
    height: 30px;
}
.paiement img{
   width: 30px;
}
.pfoot{
    font-size: 14px;
}

