@media screen and (max-width: 650px) {
    /* --------------------inscription/connexion -----------*/
    *{
        padding: 0%;
        margin: 0%;
    }
    .haut{
        height: 100%;
    }
    .card{
        width: 100% !important;
    }
    .title{
        display: block !important;
    }
    .partie,.partie1,.info,.info1{
        width: 100%;
    }
    .fa-brands{
        font-size: 50px;
    }

    .partie .fa-solid{
        font-size: 30px;
    }
    .info,.info1{
        margin-bottom: 2rem;
    }
    .about,.about img{
        width: 100%;
        height: 100%;
    }
    .titres{
        font-size: 16px;
    }
}
@media screen and (max-width: 992px) {
    .partie,.partie1,.info,.info1{
        width: 100%;
    }
    .partie .fa-solid{
        font-size: 50px;
    }
}